<div class="w3-container" id="contact">
    <h1 class="w3-xxxlarge w3-text-red" style="margin-top:80px" ><b>Add Book</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Add some books in this library, so that the world can read, read and read!</p>
    <form>
        <div class="w3-section">
            <label>Book Name</label>
            <input class="w3-input w3-border" [(ngModel)]="title" type="text" placeholder="Book Name" name="title" required>
        </div>
        <div class="w3-section">
            <label>Price</label>
            <input class="w3-input w3-border" [(ngModel)]="price" type="number" placeholder="Price" name="price" required>
        </div>
        <div class="w3-section">
            <label>Pages</label>
            <input class="w3-input w3-border" [(ngModel)]="pages" type="number" placeholder="Pages" name="pages" required>
        </div>
        <button type="submit" (click)="onSave()" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Add Book</button>
    </form>
</div>