<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-red w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <a href="javascript:void(0)" class="w3-button w3-hide-large w3-display-topleft" onclick="w3_close()" style="width: 100%;">Close</a>
  <div class="w3-container w3-row">
    <h3 class="w3-padding-32"><b>Harith's<br>Library</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" routerLink="add" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-white">Home</a>
    <a href="#showcase" routerLink="list" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-white">About</a>
  </div>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right: 40px;">
  <router-outlet></router-outlet>
</div>

<div class="w3-light-grey w3-container w3-padding-32" style="width: 100%;position: fixed;bottom: 0;left: 301px;">
  <p style="width: 100%;" class="w3-right">Powered by Harith</p>
</div>
